body{
    background-color: rgb(83, 83, 107);
    display:grid;
    place-items: center ;


}
p{
    font-size: 30px;
}

button {
    font-size: 20px;
    background-color: gray;
}

input {
    padding: 10px;
}

li{
    font-size: 20px;
}